<div class="container">
  <div class="row">
    <div class="col">
      <%= simple_form_for [@yacht, @booking], data: { controller: 'flatpickr' } do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="form-inputs">
               <%= f.input :check_in, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
                <%= f.input :check_out, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>


            <%# <label for="booking_total">Total</label>
            <%= f.input :total, label: false %>

            <label for="booking_agency">Agency</label>
            <%= f.input :agency, label: false %>
          </div>


            <div class="form-actions">
              <%= f.button :submit, class: "lrg-blue-btn" , value: "Book now!" %>
            </div>
          <% end %>
    </div>
  </div>
</div>
