 <%= simple_form_for [@booking] do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="form-inputs">
             <label for="booking_check_in">Check-in date</label>
            <%= f.input :check_in, as: :date, html5: true, label: false %>

            <label for="booking_check_out">Check-out date</label>
            <%= f.input :check_out, as: :date, html5: true, label: false %>

            <%= f.hidden_field :redirect_path, value: bookings_path %>
          </div>


            <div class="form-actions">
              <%= f.button :submit, class: "custom-button", value: "Create now!" %>
            </div>
          <% end %>

     <%= link_to "Back to Bookings", bookings_path, class: "custom-button" %>
