<div class="wrapper">
  <div class="sidebar">
    <ul>
      <li><i class="fas fa-calendar"></i> <%= link_to "Calendar", calendar_path %></li>
      <li><i class="fas fa-check"></i> <a href="<%= bookings_path %>">Bookings</a></li>
      <li><i class="fas fa-sailboat"></i> <a href="<%= yachts_path %>">Yachts</a></li>
      <li><i class="fa-solid fa-business-time"></i> <%= link_to "Business", business_path %> </li>
      <li><i class="fas fa-dollar-sign"></i> <%= link_to "Income", income_path %> </li>
      <li><i class="fas fa-map"></i> <a href="#">Tracker</a></li>
      <li><i class="fas fa-envelope"></i> <a href="#">Inbox</a></li>
    </ul>
  </div>
  <div class="main_content">
      <h1>BUSINESS ANALYSIS</h1>

      <div class="row">
        <p>Price by Cities</p>
        <div class="col-lg-6">
          <p>Mine</p>
          <%= bar_chart Yacht.where(user: current_user).group(:location).average(:price) %>
        </div>
        <div class="col-lg-6">
          <p>All</p>
          <%= bar_chart Yacht.group(:location).average(:price) %>
        </div>


        <p>Yachts Location</p>
        <div class="col-lg-6">
          <%= pie_chart Yacht.where(user: current_user).group(:location).count %>
        </div>
        <div class="col-lg-6">
          <%= pie_chart Yacht.group(:location).count %>
        </div>
        <p>Number of guest repartition</p>
        <%= line_chart Yacht.group(:number_of_guests).count %>
         </div>
  </div>
</div>
