<div class="wrapper">
  <div class="sidebar">
    <ul>
      <li><i class="fas fa-calendar"></i> <%= link_to "Calendar", calendar_path %></li>
      <li><i class="fas fa-check"></i> <%= link_to "Bookings", bookings_path %></li>
      <li><i class="fas fa-sailboat"></i> <%= link_to "Yachts", yachts_path %></li>
      <li><i class="fa-solid fa-business-time"></i> <%= link_to "Business", business_path %> </li>
      <li><i class="fas fa-dollar-sign"></i> <%= link_to "Income", income_path %> </li>
      <li><i class="fas fa-map"></i> <%= link_to "Tracker", tracker_path %> </li>
      <li><i class="fas fa-envelope"></i> <a href="#">Inbox</a></li>
    </ul>
  </div>
  <div class="main_content">
    <h1>LIST OF YACHTS</h1>
    <div class="button-container">
        <%= link_to "Filter My Yachts", my_yachts_path, class: "lrg-blue-btn" %>
        <%= link_to "All Yachts", yachts_path, class: "lrg-blue-btn" %>
        <%= link_to "Create a new yacht", new_yacht_path, class: "lrg-blue-btn" %>
    </div>

        <table class="yachts-table">
          <thead>
            <tr>
               <th class="sortable" data-sort-direction="asc">
                Name
              </th>
              <th>No. of people</th>
              <th>Daily rate($)</th>
              <th>Location</th>
              <th>Owner</th>
              <th>Email</th>
              <th>      </th>
            </tr>
          </thead>
          <tbody>
            <% @yachts.each do |yacht| %>
              <tr>
                <td><%= link_to yacht.name, yacht_path(yacht) %></td>
                <td><%= yacht.number_of_guests %></td>
                <td><%= yacht.price %></td>
                <td><%= yacht.location %></td>
                <td><%= yacht.user.username %></td>
                <td><%= yacht.user.email %></td>
                <% if yacht.user.id == current_user.id %>
                  <td><%= link_to "BOOK", new_yacht_booking_path(yacht), class: "lrg-blue-btn"%></td>
                <% else %>
                  <td> </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>

  </div>
</div>
