<div class="container">
  <div class="row">
    <div class="col">
      <h1>Add a new Yacht 🛥️</h1>
      <%= simple_form_for(@yacht) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :number_of_guests %>
          <%= f.input :price %>
          <%= f.input :location %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
